# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
.gradle/
local.properties
captures/
*.log

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Keystore
*.jks
*.keystore
